.violet, .lectionary-table tr.violet{
    background-color: #CBAACB;
    color:black;
    font-weight: 600;
}

.red, .lectionary-table tr.red{
    background-color: #FF968A;
    color:black;
    font-weight: 600;
}

.green, .lectionary-table tr.green{
    background-color: #97C1A9;
    color:black;
    font-weight: 600;
}

.white, .lectionary-table tr.white{
    background-color: white;
    color:black;
    font-weight: 600;
}

.black, .lectionary-table tr.black{
    background-color: black;
    color:white;
    font-weight: 600;
;
}

.tlh-lectionary .pagination{
    padding: 1em 0;
    display: flex;
}

.tlh-lectionary .pagination div{
    display: inline-block;
    width: 50%;
}

td.today{
    border: solid #0f5298;
}

.tlh-calendar td{
    vertical-align: baseline;
}
@media only screen and (max-device-width: 480px) {
    .tlh-calendar {
        padding-left: 0px;
        padding-right: 0px;
      }

    .tlh-calendar table,
    .tlh-calendar th,
    .tlh-calendar td,
    .tlh-calendar tr {
        display: block;
    }

    .tlh-calendar th, .tlh-calendar td:empty {
        display: none;
    }
}

.bible-icon svg{
    width: 1em;
    height: 1em;
}